
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="square-icon" (click)="gotoLink('Characters')">People Tracker</div>
            </div>
            <div class="col-sm-6">
                <div class="square-icon" (click)="gotoLink('Maps')">Maps</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="square-icon">Requests Forum</div>
            </div>
            <div class="col-sm-6">
                <div class="square-icon">Inventory</div>
            </div>
        </div>



    </div>
